workflows/website-monitor.json
{
  "id": "website-monitor-eigensol",
  "name": "Website Monitor - Eigensol",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": "={{ Number($env.CHECK_INTERVAL_HOURS || 1) }}"
            }
          ]
        }
      },
      "id": "33cfccb8-7b1b-47d8-88f1-8f4811820d53",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        280,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.MONITOR_URL || 'https://eigensol.com' }}",
        "response": {
          "response": {
            "fullResponse": true,
            "neverError": true,
            "responseFormat": "text",
            "outputPropertyName": "data"
          }
        }
      },
      "id": "05d98f4d-2283-468d-8149-9c6a44ca588c",
      "name": "Fetch Site",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        520,
        300
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const crypto = require('crypto');\n\nconst input = $input.first()?.json ?? {};\nconst state = $getWorkflowStaticData('global');\nconst monitoredUrl = $env.MONITOR_URL || 'https://eigensol.com';\n\nconst statusCode = typeof input.statusCode === 'number' ? input.statusCode : null;\nconst responseBody = typeof input.body === 'string'\n  ? input.body\n  : typeof input.data === 'string'\n    ? input.data\n    : '';\nconst errorText = [\n  input.error?.message,\n  input.message,\n  input.reason,\n  input.description,\n].filter(Boolean).join(' ');\n\nconst normalizedContent = responseBody.replace(/\\s+/g, ' ').trim();\nconst newHash = crypto.createHash('md5').update(normalizedContent).digest('hex');\nconst newLength = normalizedContent.length;\nconst oldHash = typeof state.hash === 'string' ? state.hash : '';\nconst oldLength = typeof state.length === 'number' ? state.length : 0;\nconst currentDay = new Date().toISOString().slice(0, 10);\n\nconst looksDown = Boolean(errorText)\n  || (statusCode !== null && statusCode >= 500)\n  || newLength < 500\n  || /\\b(error|502|503|504|cloudflare|temporarily unavailable)\\b/i.test(normalizedContent);\n\nlet status = 'unchanged';\nlet notificationReason = '';\nlet shouldNotify = false;\nlet summaryPrompt = '';\n\nif (!oldHash) {\n  status = 'first_run';\n} else if (looksDown) {\n  status = 'site_down';\n} else if (newHash === oldHash) {\n  status = 'unchanged';\n} else if (newLength > oldLength) {\n  status = 'increased';\n} else {\n  status = 'decreased';\n}\n\nif (status === 'first_run') {\n  shouldNotify = true;\n  notificationReason = 'startup';\n  summaryPrompt = `Website ${monitoredUrl} was checked after monitoring started, and nothing updated. Write exactly 2 short sentences that say monitoring is running and nothing changed yet.`;\n  state.lastDailyNotificationDate = currentDay;\n} else if (status === 'unchanged') {\n  if (state.lastDailyNotificationDate !== currentDay) {\n    shouldNotify = true;\n    notificationReason = 'daily_heartbeat';\n    summaryPrompt = `Website ${monitoredUrl} was checked and nothing updated since the previous checks. Write exactly 2 short sentences that clearly say nothing updated today.`;\n    state.lastDailyNotificationDate = currentDay;\n  }\n} else {\n  shouldNotify = true;\n  notificationReason = 'change';\n  summaryPrompt = `Website ${monitoredUrl} status changed. Status: ${status}. Old size: ${oldLength} chars. New size: ${newLength} chars. Write exactly 2 short sentences summarizing what happened. Be direct.`;\n}\n\nstate.hash = newHash;\nstate.length = newLength;\nstate.lastStatusCode = statusCode;\nstate.lastCheckedAt = new Date().toISOString();\n\nif (!shouldNotify) {\n  return [];\n}\n\nreturn [{\n  json: {\n    monitoredUrl,\n    status,\n    statusCode,\n    newHash,\n    oldHash,\n    newLength,\n    oldLength,\n    preview: normalizedContent.slice(0, 300),\n    errorText,\n    notificationReason,\n    summaryPrompt,\n  },\n}];"
      },
      "id": "d9f43793-f3e9-43b3-8d7f-a5097d72cc16",
      "name": "Classify Change",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{ ({ Authorization: `Bearer ${$env.GROQ_API_KEY}`, 'Content-Type': 'application/json' }) }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ ({ model: $env.GROQ_MODEL || 'llama3-8b-8192', messages: [{ role: 'user', content: $json.summaryPrompt }], max_tokens: 100 }) }}"
      },
      "id": "ec3005b9-f7d0-49a5-a5fb-8de6c001a3f9",
      "name": "Summarize With Groq",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1020,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const fs = require('fs');\n\nconst groqResponse = $input.first()?.json ?? {};\nconst change = $('Classify Change').first().json;\n\nconst rawMessage = groqResponse.choices?.[0]?.message?.content\n  ?? groqResponse.message\n  ?? groqResponse.error?.message\n  ?? 'Groq summary unavailable.';\nconst message = String(rawMessage).replace(/\\s+/g, ' ').trim();\nconst timestamp = new Date().toISOString();\nconst logLine = `[${timestamp}] STATUS: ${change.status} | ${message}\\n`;\n\nfs.mkdirSync('/files', { recursive: true });\nfs.appendFileSync('/files/automation.log', logLine, 'utf8');\n\nreturn [{\n  json: {\n    status: change.status,\n    logLine: logLine.trimEnd(),\n    message,\n  },\n}];"
      },
      "id": "ebee371c-4d3c-47f5-a40d-5ec098338b6b",
      "name": "Append Log File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        300
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Site",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Site": {
      "main": [
        [
          {
            "node": "Classify Change",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Change": {
      "main": [
        [
          {
            "node": "Summarize With Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize With Groq": {
      "main": [
        [
          {
            "node": "Append Log File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "staticData": null,
  "tags": []
}
